.menu-item-basic-tab-block {
    margin-right: 11px;
    margin-bottom: 10px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
    }
}

.menu-item-basic-tab {
    &__container {
        padding: 20px;
        gap: 4px;
        border-radius: 6px;
        background: #F6F7F7;
        display: flex;
        flex-direction: column;
        box-shadow: 0 6px 0 0 rgba(0,0,0,.01),0 10.778px 10.422px 0 rgba(0,0,0,.01),0 0.336px 3.869px 0 rgba(0,0,0,.01),0 12.522px 10.017px 0 rgba(0,0,0,.01),0 6.65px 5.32px 0 rgba(0,0,0,.01),0 2.767px 2.214px 0 rgba(0,0,0,.02);
        position: relative;
        cursor: pointer;


        &:active {
            .menu-item-basic-tab__title {
                color: #1E1C21;
                transition: all 0.3s ease;
            }

            .menu-item-basic-tab__paragraph {
                color: #635E6E;
                transition: all 0.3s ease;
            }

            @media (max-width: 768px) {
                .menu-item-basic-tab__title {
                    color: #5024A8;
                    transition: all 0.3s ease;
                }

                .menu-item-basic-tab__paragraph {
                    color: #4F4B58;
                    transition: all 0.3s ease;
                }

            }
        }

        @media (max-width: 768px) {
            box-shadow: none;
            background: #f6f7f700;
            padding: 20px 16px;
            border-bottom: 1px solid rgba(208, 205, 213, 0.60);
            border-radius: 0px;

            &::after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.33333 2.66667L10.6667 8L5.33333 13.3333' stroke='%231E1C21' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__title {
        color: #4F4B58;
        font-family: Figtree, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        transition: all 0.3s ease;

        @media (max-width: 768px) {
            margin-right: 10px;
            color: #1E1C21;
        }
    }

    &__paragraph {
        color: #777184;
        font-family: Figtree, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        transition: all 0.3s ease;

        @media (max-width: 768px) {
            color: #635E6E;
            font-weight: 500;
            /* 142.857% */
        }
    }
}